APP_ENV=local
APP_DEBUG=true
APP_KEY=
APP_URL=http://localhost:8080

DB_CONNECTION=sqlite

MAIL_MAILER=smtp
MAIL_HOST=smtp.sendgrid.net
MAIL_PORT=587
MAIL_USERNAME=apikey
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=engelbertrodriguez21@gmail.com
MAIL_FROM_NAME="Engelbert Rodríguez"
